$menu-gradient: linear-gradient(to bottom,
    #fff,
    #dee5ff 46%,
    #ced6f0 54%,
    #dbe3ff 69%,
    #fafbff 91%);

html {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 12px auto;
  max-width: 966px;
}

a,
td,
tr,
ol,
ul,
p {
  font: 9pt Helvetica, Arial, sans-serif;
  color: #4949ff;
  line-height: 1.67;
}

ol,
ul {
  padding-left: 1em;
  overflow: hidden;
}

ul {
  list-style-image: url('../images/bluearrowbullet.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0066FF;
}

h1 {
  font-size: 15pt;
}

a,
a:visited {
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

figure {
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
}

.banner {
  text-align: center;
}

.banner p,
.banner a {
  color: red;
}

#header,
#footer {
  background-color: white;
}

#wrapper {
  border-radius: 12px;
  overflow: hidden;
}

#header {
  height: 106px;
  background:
    url('../images/head-center.png'),
    url('../images/head-text.png'),
    linear-gradient(to bottom, #dfe6ff, white, #f1f3ff);

  background-repeat: no-repeat;
  background-position: center center, left center, center;

}

#header #language-selector {
  float: right;
  padding: 10px;
}

#menu {
  height: 27px;
  background: $menu-gradient;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

#menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

#menu a:hover {
  background: #2ca1eb;
  background: linear-gradient(to bottom, #2ca1eb 35%, #1492db 55%, #30a7eb 75%);
  color: #fff;
}

#content-container {
  background-image: url("../images/body-none.png");
}

#plane-drawing-nav-container {
  background: white;
}

#plane-drawing-nav-caption {
  text-align: center;
}

svg#plane-drawing-nav {
  max-width: 100%;
  height: auto;
  display: block;
}

svg#plane-drawing-nav a {
  text-decoration: none;
}

svg#plane-drawing-nav text {
  user-select: none;
  pointer-events: none;
}

svg#plane-drawing-nav #transmitter-bb,
svg#plane-drawing-nav #prop-bb,
svg#plane-drawing-nav #motor-bb,
svg#plane-drawing-nav #receiver-bb,
svg#plane-drawing-nav #battery-bb,
svg#plane-drawing-nav #airframe-bb,
svg#plane-drawing-nav #actuator-bb {
  opacity: 0;
  transition: opacity 0.25s ease;
}

svg#plane-drawing-nav #transmitter-bb:hover,
svg#plane-drawing-nav #prop-bb:hover,
svg#plane-drawing-nav #motor-bb:hover,
svg#plane-drawing-nav #receiver-bb:hover,
svg#plane-drawing-nav #battery-bb:hover,
svg#plane-drawing-nav #airframe-bb:hover,
svg#plane-drawing-nav #actuator-bb:hover {
  opacity: 1;
}

#content {
  padding: 10px;
}

#footer {
  background: linear-gradient(to bottom, #f0f3ff, #ffffff);
  min-height: 37px;
}

#footer #pages-ribbon {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px 32px;
  justify-content: center;
}

#footer #pages-ribbon a {
  font-weight: bold;
}

#branding {
  margin-top: 10px;
  float: right;
  display: flex;
  align-items: center;
  gap: 10px;
}

#branding #copyright {
  color: #cccccc;
  font-size: 10px;
  font-weight: bold;
}

@media (min-width: 700px) {
  #content {
    margin-left: 180px;
  }

  #content-container {
    background-image: url("../images/body-left.png");
  }

  #menu {
    background: url("../images/menu.png"), $menu-gradient;
    background-repeat: no-repeat;
    background-position-x: 43px, center;
    justify-content: right;
    padding-right: 24px;
  }

  #menu>a:first-child {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cccccc;
  }
}