<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Микросамолёт,микросамолет,микро-самолёт,микро,самолет,Микросамолеты,Микромодель,Микромодели,леталка,микро,мотор,микромотор,бесколлекторный,безколлекторный,бесколекторный,безколекторный,БК,Бесщёточный,Бесщеточный,Безщёточный,Безщеточный,коллекторный узел,Самый,маленький,Миниатюрный,Микро ,легкий,лёгкий,обмотка,катушка,вибрик,магнит,Магнитик,Редкоземельный,Вал,Shicoh,2.8mm,3.2mm,А1442,Pic10f200,Карбон,Карбоновый,пруток,Углеволокно,Углеволоконный,Бальза,Приемник,Приёмник,Передатчик,IRX262,Futaba,Plane,Carbon rod,Balsa,Transmitter,Receiver,Airframe,Actuator,Film,Brushless,Homemade,Home-made,ATS276,ATS277,Fan8082,Sub gram" />
  <meta name="description" content="микроплан" />

  <title>{% block title %}{% endblock %}</title>

  <link href="/index.php?format=feed&amp;type=rss&amp;lang=ru" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
  <link href="/index.php?format=feed&amp;type=atom&amp;lang=ru" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/mod_jflanguageselection.css" type="text/css" />

  <link href="/css/template.css" rel="stylesheet" type="text/css" />
  <link href="/css/thickbox.css" rel="stylesheet" type="text/css" />

  {% endblock %}
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="language-selector">
      {% for lang, _ in config.languages %}
        {% set page = get_url(path="@/_index.md", lang=lang) %}
        <a href="{{ page }}">
          <img src="/images/language-flags/{{ lang }}.gif" alt="{{ lang }}" title="{{ lang }}" />
        </a>
      {% endfor %}
      </div>
    </div>

    <div id="menu">
      <div id="search"></div>
      <div id="nav">
        {% set index = get_section(path='_index.md', lang=lang) %}
        <a href="{{ index.permalink }}" class="mainlevel">{{ index.title | upper }}</a>

        {% for subsection_path in index.subsections %}
          {% set subsection = get_section(path=subsection_path) %}
          <a href="{{ subsection.permalink }}">{{ subsection.title | upper }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="content-container">
      {% block content_container %}
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      {% endblock %}
    </div>

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </div>

  <div id="branding">
    <div id="copyright">(c){{ now() | date(format="%Y")}}</div>
    <div id="logo">
      <a href="http://sozdatel.org.ua/">
        <img src="/images/site-by-sozdatel.org.ua.png" alt="sozdatel.org.ua" width="26" height="29" class="joomla-template-design" />
      </a>
    </div>
  </div>

</body>

</html>
